<div class="row">
    <br>
    <section>
      <div>
  
        <div class="title">
          <input type="search" name="item.origen" id="Nombre" placeholder="Nombre">
          {{ item.origen | uppercase }}
        </div>
      </div>
      <div>
        <div class="title" for="addres-2">
          <input type="search" name="item.destino" id="Teléfono" placeholder="Celular">
          {{item.destino | uppercase }}
        </div>
      </div>
      <br>
      <div class="actions">
          <button type="button" class="btn btn-info" 
            (click)= "item.kilometer= 35">
            Registrar
          </button>
      </div>
      <br>
    </section>
      <!-- Muestra los km del recorrido -->
      <div class="kilometer">{{ item.kilometer}} km</div>
  
      <!-- Cálculo del precio  -->
      <div class="price" *ngIf="item.kilometer <= 30">{{ 30000 | currency : 'USD' : 'symbol' : '1.0-0' }}</div>
      
      <div class="price" *ngIf="item.kilometer >= 30">
        {{ (item.kilometer - 30) * 1700 + 30000 | currency : 'USD' : 'symbol' : '1.0-0' }}
      </div>
      <hr>
  </div>
